$white:         #fff;
$hover-white:   #f5f5f5;
$light-white:   #f7f7f7;
$pink:          #f06976;
$black:         #333;
$red:           #ea352d;
$blue:          #37419e;
$light-blue:    #3078b9;
$water:         #00c4ce;
$yellow:        #ffd770;
$gray:          #788086;
$light-gray:    #f8f9f9;
$msg-back-gray: #f1f1f1;
$msg-text-gray: #555;
