.login-page
  .container
    .login-page_contents
      %h1.login-page_contents_title.yellow YOU ARE
      %h1.login-page_contents_title.black NOT
      %h1.login-page_contents_title.red ALONE.
      = link_to "START", new_user_session_path, class: "btn login-page_contents_btn"
