%footer.footer
  %ul.footer_contents
    %li.copy ©︎ 2019 STARCOFFEE66
    %li.twitter
      = link_to "https://twitter.com/starcoffee66", class: "btn-social-square btn-social-square--twitter" do
        %i.fab.fa-twitter
    / %li.messageIcon
    /   = link_to matching_index_path, class: "message-icon" do
    /     %i.fas.fa-comment
