.top-page
  .container
    .top-page_contents
      %h1.top-page_contents_title.yellow YOU ARE
      %h1.top-page_contents_title.black NOT
      %h1.top-page_contents_title.red ALONE.
      = link_to "START", new_user_session_path, class: "btn top-page_contents_btn"
