.chat-page {
  input[type="text"]:focus {
    outline: 0;
    border-color: orange;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    background: $light-blue;

    .back {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 40px;
      border: 5px solid;
      border-radius: 4px;
      border-color:  transparent transparent $white $white;
      transform: rotate(45deg);
    }
    .room-user {
      &_name {
        margin-top: 5px;
        text-align: center;
        color: $white;
      }

      &_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .messages {
    padding-top: 20px;
    height: 70vh;
    overflow: scroll;

    .message:last-child {
      padding-bottom: 20px;
    }

    .message {
      @include clearfix;

      &_user-name {
        font-size: 12px;
        font-weight: bold;
        color: $gray;
      }

      &_user-icon {
        float: left;
        margin: 0 20px;
        height: 60px;
        width: 60px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &_text {
        .text {
          position: relative;
          display: inline-block;
          margin: 5px 0 1.5em 0;
          padding: 7px 10px;
          max-width: 40%;
          color: $msg-text-gray;
          font-size: 16px;
          border-radius: 7px;
          background: $msg-back-gray;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -20px;
            margin-top: -10px;
            border: 10px solid transparent;
            border-right: 10px solid $msg-back-gray;
          }
        }

        .message-time {
          color: $msg-text-gray;
          font-size: 12px;
        }

        &-right {
          position: relative;

          .text {
            display: inline-block;
            float: right;
            position: relative;
            margin: 1.5em 1.5em 0 15px;
            padding: 7px 10px;
            max-width: 40%;
            background: $water;
            color: $msg-text-gray;
            font-size: 16px;
            border-radius: 7px;

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              right: -20px;
              margin-top: -10px;
              border: 10px solid transparent;
              border-left: 10px solid $water;
            }
          }

          .message-time {
            color: $msg-text-gray;
            font-size: 12px;
            position: absolute;
          }
        }
      }
    }
  }
  .message-form {
    position: fixed;
    bottom:0;
    background: $blue;
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    width: 100%;
    text-align: center;


    &_input {
      width: 90%;
      padding: 10px;
      color: $gray;
      border: 0;
      background: $light-gray;
      border-radius: 10px;
    }

    textarea {
      resize: none;
    }
  }
}
