@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900";

@include breakpoints((
	xxlarge: ( 1681px,  1920px ),
	xlarge:  ( 1281px,  1680px ),
	large:   ( 1001px,  1280px ),
	medium:  ( 737px,   1000px ),
	small:   ( 481px,   736px  ),
	xsmall:  ( null,    480px  )
));

@import 'base/page';
@import 'base/typography';

@import 'components/box';
@import 'components/button';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/icons';
@import 'components/section';
@import 'components/gallery';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';


#intro {
	background: url('images/overlay.png'), url(/images/toppage1.jpg);
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
}

#one {
	background: url('images/overlay.png'), url(/images/cheers.jpg);
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}

#two {
	background: url('images/overlay.png'), url(/images/girlfriend2.jpg);
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}

#intro,#one,#two,#three{
	position: relative;
	.start-btn {
		text-align: center;
	}
	.center {
		display: block;
		margin: 0 auto ;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px $gray;
    color: $gray;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.75em;
    text-align: center;
	}
	.center:hover {
		background: $light-gray;
	}
	.left {
		position: absolute;
		top: 50%;
		left: 20px;
	}
	.right {
		position: absolute;
		top: 50%;
		right: 20px;
	}
	.left,.right {
		border-radius: 3px;
    box-shadow: inset 0 0 0 2px $white;
    padding: 0.15em 1.95em;
    letter-spacing: 0.125em;
	}
	.left:hover,.right:hover {
    opacity: 0.7;
	}
}

.toppage-title {
	display: none;
}
