.usershow {
  .user-info {
    padding-top: 120px;

    &_img {
      width: 350px;
      height: 350px;
      margin: 0 auto;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &_name {
      text-align: center;
      margin-top: 30px;
      font-size: 25px;
      font-weight: bold;
    }

    &_intro , &_age {
      margin-top: 30px;
      text-align: center;
    }
  }

  .userAction {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 35px auto 0;
    text-align: center;

    &_common {
      & > a {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color:#c3c7d0;
        text-decoration: none;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        transition: color .5s;
        &:hover {
          color: $water;
        }
      }
    }
    span {
      font-size: 16px;
      font-weight: bold;
      color: $msg-text-gray;
    }
  }

  #judged {
    margin-top: 40px;

    .nope-user, .like-user {
      margin: 0 auto;
      text-align: center;
      width: 150px;
      height: 50px;
      line-height: 50px;
      color: $white;
      font-weight: bold;
      border-radius: 30px;
    }

    .nope-user {
      background: $gray;
    }

    .like-user {
      background: $pink;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin: 15px auto;

      &.is-none {
        display: none;
      }

      .like, .dislike {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-white;
        background-image: -webkit-linear-gradient(top, $light-white, #e7e7e7);
        width: 80px;
        height: 80px;
        line-height: 144px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px $white;

        &.dislike {
          color: $gray;
        }
        &.dislike:hover{
          text-decoration: none;
          color: $msg-text-gray;
          background: $hover-white;
        }
        &.like {
          color: $red;
        }
        &.like:hover{
          text-decoration: none;
          color: $pink;
          background: $hover-white;
        }
      }
    }
  }
}
